.error-page-container {
    background-image: linear-gradient(160deg, black, darkred, red, darkred, black);
    background-size: 200% 200%;
    animation: end 10s ease infinite;
    width: 100vw;
    height: 100dvh;

    h2 {
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        text-align: center;
        padding-bottom: 20px;
        font-size: 7em;
        top: 50%;
        left: 50%;
        width: 100vw;
        transform: translate(-50%, -50%);
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }
}

@keyframes end {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.back{
    top: 375px;
    left: 0;
    padding: 5px 15px 5px 5px;
    border-radius: 0 35px 35px 0;
    transition: background-color 0.5s ease;
    z-index: 10;
}

.back:hover{
    background-color: white;
    border-radius: 0 35px 35px 0;
}

.main{
    background: transparent;
}

.main-img{
    width: 50px;
}

@media only screen and (min-width: 376px) and (max-width: 700px){
    .back{
        padding: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 150%);
        border-radius: 100px;
    }

    .back:hover{
        background-color: white;
        border-radius: 100px;
    }
}

@media only screen and (max-width: 520px){
    .error-page-container {
        h2{
            font-size: 5em;
        }
    }

    .back{
        padding: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 130%);
        border-radius: 100px;
    }

    .back:hover{
        background-color: white;
        border-radius: 100px;
    }
}

@media only screen and (max-width: 376px){
    .error-page-container {
        h2{
            font-size: 3.5em;
        }
    }

    .back{
        padding: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 100%);
        border-radius: 100px;
    }

    .back:hover{
        background-color: white;
        border-radius: 100px;
    }
}