.carousel-kegiatan-pilih-btn {
    position: absolute;
    bottom: 5%;
    left: 30%;
    width: 150px;
}

.carousel-kegiatan-pilih-status-2 {
    position: absolute;
    bottom: 3%;
    left: 0%;
}

.carousel-kegiatan-pilih-status-1, .carousel-kegiatan-pilih-status-3 {
    position: absolute;
    bottom: 10%;
    left: 18%;
}

.carousel-kegiatan-pilih-not-enough-balance,
.carousel-kegiatan-pilih-enough-balance-and-enough-energy,
.carousel-kegiatan-pilih-not-enough-energy,
.carousel-kegiatan-pilih-not-enough-energy-and-not-enough-balance {
    padding: 0px 0px 10px;
}

.carousel-kegiatan-pilih-btn-container button {
    background-color: #ffe083;
}

.carousel-kegiatan-pilih-btn-container button:hover {
    background-color: #ffbf00;
}

.carousel-kegiatan-pilih-not-enough-energy-and-not-enough-balance2 h3 {
    transform: translate(0%, 0%);
}

.carousel-kegiatan-pilih-not-enough-energy-and-not-enough-balance h3 {
    transform: translate(0%, 100%);
}

@media only screen and (min-width: 800px) and (max-width: 1290px) {
    .carousel-kegiatan-pilih-btn {
        left: 26%;
    }
}

@media only screen and (min-width: 1190px) and (max-width: 1290px) {
    .carousel-kegiatan-pilih-status-1{
        position: absolute;
        bottom: 5%;
        left: 10%;
    }

    .carousel-kegiatan-pilih-status-3{
        position: absolute;
        bottom: 10%;
        left: 10%;
    }
}

@media only screen and (min-width: 1074px) and (max-width: 1190px) {
    .carousel-kegiatan-pilih-status-1{
        position: absolute;
        bottom: 5%;
        left: 5%;
    }

    .carousel-kegiatan-pilih-status-3{
        position: absolute;
        bottom: 15%;
        left: 5%;
    }
}

@media only screen and (min-width: 955px) and (max-width: 1074px) {
    .carousel-kegiatan-pilih-status-1{
        position: absolute;
        bottom: 3%;
        left: 0%;
    }

    .carousel-kegiatan-pilih-status-2 {
        font-size: 23px;
    }

    .carousel-kegiatan-pilih-status-3{
        position: absolute;
        bottom: 15%;
        left: 0%;
    }
}

@media only screen and (min-width: 891px) and (max-width: 955px) {
    .carousel-kegiatan-pilih-status-1{
        position: absolute;
        bottom: 3%;
        left: 0%;
    }

    .carousel-kegiatan-pilih-status-2 {
        font-size: 23px;
    }

    .carousel-kegiatan-pilih-status-3{
        position: absolute;
        bottom: 15%;
        left: 0%;
    }

    .carousel-kegiatan-pilih-btn {
        left: 16%;
    }
}

@media only screen and (min-width: 780px) and (max-width: 891px) {
    .carousel-kegiatan-pilih-status-1{
        position: absolute;
        bottom: 3%;
        left: 12%;
    }

    .carousel-kegiatan-pilih-status-2 {
        font-size: 23px;
    }

    .carousel-kegiatan-pilih-status-3{
        position: absolute;
        bottom: 15%;
        left: 12%;
    }
}

@media only screen and (min-width: 690px) and (max-width: 800px) {
    .carousel-kegiatan-pilih-btn {
        left: 24%;
    }
}

@media only screen and (min-width: 735px) and (max-width: 780px) {
    .carousel-kegiatan-pilih-status-1{
        position: absolute;
        bottom: 5%;
        left: 7%;
    }

    .carousel-kegiatan-pilih-status-2 {
        font-size: 23px;
    }

    .carousel-kegiatan-pilih-status-3{
        position: absolute;
        bottom: 18%;
        left: 5%;
    }
}

@media only screen and (min-width: 699px) and (max-width: 735px) {
    .carousel-kegiatan-pilih-status-1{
        position: absolute;
        bottom: 5%;
        left: 7%;
    }

    .carousel-kegiatan-pilih-status-2 {
        font-size: 23px;
    }

    .carousel-kegiatan-pilih-status-3{
        position: absolute;
        bottom: 18%;
        left: 5%;
    }
}

@media only screen and (min-width: 644px) and (max-width: 699px) {
    .carousel-kegiatan-pilih-status-1{
        position: absolute;
        bottom: 5%;
        left: 2%;
    }

    .carousel-kegiatan-pilih-status-2 {
        font-size: 23px;
    }

    .carousel-kegiatan-pilih-status-3{
        position: absolute;
        bottom: 18%;
        left: 2%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 644px) {
    .carousel-kegiatan-pilih-status-1{
        position: absolute;
        bottom: 5%;
        left: 2%;
    }

    .carousel-kegiatan-pilih-status-2 {
        font-size: 23px;
    }

    .carousel-kegiatan-pilih-status-3{
        position: absolute;
        bottom: 18%;
        left: 2%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 690px) {
    .carousel-kegiatan-pilih-btn {
        left: 18.5%;
    }
}

@media only screen and (min-width: 550px) and (max-width: 600px) {
    .carousel-kegiatan-pilih-btn {
        left: 31%;
    }

    .carousel-kegiatan-pilih-status-1{
        position: absolute;
        bottom: 5%;
        left: 25%;
    }

    .carousel-kegiatan-pilih-status-2 {
        bottom: 5%;
        left: 10%;
    }

    .carousel-kegiatan-pilih-status-3{
        position: absolute;
        bottom: 13%;
        left: 23%;
    }
}

@media only screen and (min-width: 500px) and (max-width: 550px) {
    .carousel-kegiatan-pilih-btn {
        left: 29%;
    }

    .carousel-kegiatan-pilih-status-1{
        position: absolute;
        bottom: 5%;
        left: 22%;
    }

    .carousel-kegiatan-pilih-status-2 {
        bottom: 5%;
        left: 5%;
    }

    .carousel-kegiatan-pilih-status-3{
        position: absolute;
        bottom: 13%;
        left: 23%;
    }
}

@media only screen and (min-width: 422px) and (max-width: 500px) {
    .carousel-kegiatan-pilih-status-1{
        position: absolute;
        bottom: 5%;
        left: 15%;
    }
}

@media only screen and (max-width: 422px) {
    .carousel-kegiatan-pilih-btn {
        left: 22%;
    }

    .carousel-kegiatan-pilih-status-1{
        position: absolute;
        bottom: 3%;
        left: 10%;
    }
    
    .carousel-kegiatan-pilih-status-2 {
        bottom: 5%;
        left: 0%;
    }

    .carousel-kegiatan-pilih-status-3{
        position: absolute;
        bottom: 13%;
        left: 10%;
    }
}

