.quiz-btn-container {
    top: 390px;
    left: 0;
    padding: 5px 15px 5px 5px;
    border-radius: 0 35px 35px 0;
    transition: background-color 0.5s ease;
    z-index: 10;
}

.quiz-btn-container:hover {
    background-color: white;
    border-radius: 0 35px 35px 0;
}

.quiz {
    background: transparent;
}

.quiz-img {
    width: 50px;
}

@media only screen and (min-width: 376px) and (max-width: 422px){
    .quiz-btn-container{
        top: 700px;
        left: 14em;
        padding: 10px;
        border-radius: 0 100px 100px 100px;
    }

    .quiz-btn-container:hover{
        background-color: white;
        border-radius: 0 100px 100px 100px;
    }
}

@media only screen and (max-width: 376px){
    .quiz-btn-container{
        top: 580px;
        left: 12em;
        padding: 10px;
        border-radius: 0 100px 100px 100px;
    }

    .quiz-btn-container:hover{
        background-color: white;
        border-radius: 0 100px 100px 100px;
    }
}