.back-to-map-prompt-modal-header-container {
    padding: 0px;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
}

.back-to-map-prompt-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.back-to-map-prompt-modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    /* width: 90vw; */
    /* height: 90vh; */
    padding: 20px;
    border-radius: 5px;
    z-index: 1000x;
}

.back-to-map-prompt-disagree-btn-container {}

.back-to-map-prompt-agree-btn-container {}

.back-to-map-prompt-agree-btn-container,
.back-to-map-prompt-disagree-btn-container {
    font-size: 1em;
    font-weight: bold;
    padding: auto;
    text-align: center;
}