.Map{
  background-image: url(../src/img/map.png);
}

.map {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* box-shadow: 0 8px 32px 0 rgba(225, 225, 225, 0.37); */
  box-shadow: 0 8px 40px 0 #f1c40f89;
}

.map img {
  width: 40%;
}

.logo{
  width: 100px;
  height: auto;
  position: absolute;
  left: 0;
  top: 10px;
  cursor: pointer;
}

#map .hai{
  pointer-events: auto;
}

.map-container {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.map-container.show {
  opacity: 1;
}

/* .pin-container {
  position: relative;
} */

/* .pin{
  width: 20px;
  height: auto;
  position: absolute;
  top: -23.8em;
  left: 20.8em;
  cursor: pointer;
} */

/* .pin-text{
  position: absolute;
  top: -24em;
  left: 18.6em;
  cursor: pointer;
  background-color: black;
  color: white; */
  /* white-space: nowrap; */
  /* padding: 5px 5px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
} */

/* .pin-text::before{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid;
  transform: translateX(-50%);
  border-color: #000 #0000 #0000 #0000;
} */

/* .pin:hover + .pin-text,
.pin-text:hover {
  top: -27em;
  visibility: visible;
  opacity: 1;
} */



.pin-container {
  position: relative;
}

.pin{
  width: 35px;
  height: auto;
  position: absolute;
  top: -24.5em;
  left: 20.4em;
  cursor: pointer;
}

.pin-text{
  align-content: center;
}

.tooltip-container {
  position: absolute;
  top: -27.5em;
  left: 17.8em;
  cursor: pointer;
  background-color: white;
  color: black;
  /* white-space: nowrap; */
  padding-left: 7px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0s linear 0.3s;
  display: flex;
  box-shadow: 0 0 2px black;
}

.tooltip-container::before{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid;
  transform: translateX(-50%);
  border-color: white #0000 #0000 #0000;
}

.pin-container:hover .tooltip-container {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

.tooltip-image {
  width: 40px;
  /* display: block;
  margin: 10px auto; */
}

.btn-awal{
  display: flex;
  position: relative;
  top: -20em;
  background-color: white;
  box-shadow: 0 0 5px black;
  border: none;
  padding: 15px;
  margin: 10px auto;
  border-radius: 25px;
}

.btn-awal:hover{
  background-color: rgb(225, 225, 225, 0.9);
}

.slick-slide > div {
  margin: 0 10px;
}